<md-card class="no-select" ng-if="$ctrl.group != null">
    <md-toolbar>
        <div class="md-toolbar-tools center">
            <h2 ng-bind="$ctrl.header"></h2>
        </div>
    </md-toolbar>
    <md-card-content class="no-padding">
        <table class="table table-striped stripes-even">
            <tbody>
                <tr ng-if="$ctrl.group.name" ui-sref="group({id: $ctrl.group.id})">
                    <th><group-icon ng-style="{'background-image': 'url({{$root.appConfig.siteImages.groupBadges}}/{{$ctrl.group.badge}}.png)', 'float': 'right'}"></group-icon></th>
                    <td>
                        <span class="group-name" ng-bind="$ctrl.group.name"></span>
                        <span class="group-description" ng-if="$ctrl.group.description"><br />{{$ctrl.group.description}}</span>
                    </td>
                </tr>
                <tr ng-if="$ctrl.group.owner.username">
                    <th translate="generic.tables.owner"></th>
                    <td>
                        <span ui-sref="profile({username: $ctrl.group.owner.username})" ng-bind="$ctrl.group.owner.username" style="border-bottom: 1px dashed rgb(0, 0, 0);outline:0;cursor:pointer;"></span>
                    </td>
                </tr>
                <tr ng-if="$ctrl.group.room_id">
                    <th translate="generic.tables.room"></th>
                    <td>
                        <span ui-sref="room({id: $ctrl.group.room.id})" ng-bind="$ctrl.group.room.name" style="border-bottom: 1px dashed rgb(0, 0, 0);outline:0;cursor:pointer;"></span>
                    </td>
                </tr>
                <tr ng-if="$ctrl.group.date_created">
                    <th translate="generic.tables.created"></th>
                    <td ng-bind="$ctrl.group.date_created * 1000 | date: 'MMMM d, yyyy'"></td>
                </tr>
                <tr ng-if="$ctrl.group.members.length > 0">
                    <th translate="generic.tables.members"></th>
                    <td ng-bind="$ctrl.group.members.length | number:0"></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>