<div layout="row" layout-xs="column">
	<div layout="column" flex="70" flex-xs="100">
		<md-card class="no-select">
			<md-card-title>
				<div class="badge-icon">
					<div class="badge-icon-aligner">
						<img ng-src="{{app_config.site_images.group_badges}}/{{group_info.badge}}.gif" />
					</div>
				</div>
				<md-card-title-text>
					<span class="md-headline">{{group_info.name}}</span>
					<span class="md-subhead description">{{group_info.description}}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
		<group-members members="group_info.members"></group-members>
	</div>
	<div layout="column" flex="30" flex-xs="100">
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 class="center" translate="groups.details_card.header">Details</h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th translate="groups.details_card.owner"></th>
							<td ng-bind="group_info.owner.username"></td>
						</tr>
						<tr>
							<th translate="groups.details_card.created"></th>
							<td ng-bind="group_info.date_created * 1000 | date:'mediumDate'"></td>
						</tr>
						<tr>
							<th translate="groups.details_card.total_members"></th>
							<td ng-bind="group_info.members.length"></td>
						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 class="center" translate="groups.room_card.header"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding">
				<a ui-sref="room({id: group_info.room.id})">
					<div class="room-icon" style="padding:10px 0;">
						<div class="room-icon-aligner">
							<img ng-src="{{$root.app_config.site_images.rooms}}/{{group_info.room.model}}.png" />
						</div>
					</div>
				</a>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th translate="groups.room_card.name"></th>
							<td ng-bind="group_info.room.name"></td>
						</tr>
						<tr>
							<th translate="groups.room_card.owner"></th>
							<td ng-bind="group_info.room.owner.username"></td>
						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>
	</div>
</div>