<md-card class="group-members-card no-select">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="center">{{'groups.members_card.header' | translate}} <span class="number" ng-if="members.length > 0" ng-bind="members.length"></span></h2>
        </div>
    </md-toolbar>
    <md-card-content class="no-padding center">
        <div class="md-padding" ng-if="members.length == 0" translate="groups.members_card.no_members"></div>
        <ul class="vertical-list avatar-list no-margin" ng-if="members.length > 0">
            <li ng-repeat="member in members | orderBy: 'member_since' | limitTo: 6">
                <a ui-sref="profile({username: member.user.username})">
                    <div class="user-avatar">
                        <img ng-src="{{$root.app_config.site_images.avatars}}{{member.user.look}}&amp;direction=3&amp;head_direction=3&amp;action=stf&amp;size=n&amp;gesture=std" />
                    </div>
                    <div class="user-name">{{member.user.username}}</div>
                </a>
            </li>
        </ul>
    </md-card-content>
    <md-toolbar class="footer" ng-if="members.length > 0">
        <div class="md-toolbar-tools center">
            <md-button ng-click="showAll()" translate="groups.members_card.see_all"></md-button>
        </div>
    </md-toolbar>
</md-card>