<md-card class="user-info-card no-select" flex ng-hide="$ctrl.userinfo.length == 0">
    <md-card-content>
        <a class="user-avatar" ui-sref="profile({username: $ctrl.userinfo.username})" style="background-image:url({{$root.app_config.site_images.avatars}}{{$ctrl.userinfo.look}}&amp;direction=2&amp;head_direction=3&amp;action=wav&amp;size=l&amp;gesture=sml);"></a>
		<div class="user-info">
			<span class="user-name" ng-bind="$ctrl.userinfo.username" style="padding-right:3px;"></span><habbo-icon ng-class="{'online-icon': $ctrl.userinfo.online == 1, 'offline-icon': $ctrl.userinfo.online == 0}"></habbo-icon><div style="height:4px;"></div>
			<span class="user-motto" ng-if"$ctrl.userinfo.motto"><habbo-icon class="motto-icon"></habbo-icon>{{$ctrl.userinfo.motto}}</span><br />
			<span class="last-login" ng-hide="$ctrl.userinfo.last_login.length == 0 || $ctrl.userinfo.last_login == null"><habbo-icon class="clock-icon"></habbo-icon>{{$ctrl.userinfo.last_login[0].created_at | date:'MMM d, yyyy h:mm a'}}<br /></span>
			<span class="last-login" ng-if="$ctrl.userinfo.last_login.length == 0 || $ctrl.userinfo.last_login == null" ng-hide="$ctrl.userinfo.last_online == 0 || null"><habbo-icon class="clock-icon"></habbo-icon>{{$ctrl.userinfo.last_online * 1000 | date:'MMM d, yyyy h:mm a'}}<br /></span>
		</div>
	</md-card-content>
</md-card>