<div class='dashboard' layout='row' layout-xs='column'>
	<md-card flex='60' flex-xs='100'>
		<md-toolbar>
			<div class='md-toolbar-tools'>
				<h2 class='no-select'>Announcements</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<ul>
				<li ng-repeat='announcement in announcement_list'>{{announcement.announcement_name}}</li>
			</ul>
		</md-card-content>
	</md-card>
	<md-card flex>
		<md-toolbar>
			<div class='md-toolbar-tools'>
				<h2 class='no-select'>Login</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			card content
		</md-card-content>
	</md-card>
</div>