<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>HabFuse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link rel="stylesheet" type="text/css" href="assets/stylesheets/habbo-api.css" />
</head>
<body class="app" ng-cloak>
	<div class="app-header">
		<div class="header-container">
			<div class="header-logo"></div>
		</div>
	</div>
	<app-menu-bar ng-if="current_user.login_status == true"></app-menu-bar>
	<div class="app-content" ng-class="{'page-content': current_user.login_status == true}">
		<div class="content-container" ui-view></div>
		<div class="content-footer no-select">&copy; 2017 HabFuse Hotel</div>
	</div>
	<script type="text/javascript" src="assets/javascripts/angular/angular.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/angular/angular-aria.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/angular/angular-material.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/ngStorage.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/ui-router.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/require.min.js" data-main="app/main.js"></script>
</body>
</html>