<div class="login">
	<div class="login-image"></div>
	<div class="login-logo">
		<span class="no-select">{{site_name}}</span><br />
		<span class="no-select smaller">Login</span>
	</div>
	<div class="form-container">
		<form name="userLogin" ng-submit="login(login_details)">
			<md-input-container md-no-float class="md-block">
				<input type="text" name="userName" ng-model="login_details.user_name" placeholder="Username" required />
				<div ng-messages="userLogin.userName.$error">
					<div ng-message="required" class="no-select">Please type your username</div>
				</div>
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<input type="password" name="userPass" ng-model="login_details.user_pass" placeHolder="Password" required />
				<div ng-messages="userLogin.userPass.$error">
					<div ng-message="required" class="no-select">Please type your password</div>
				</div>
			</md-input-container>
			<div style="text-align:center;">
				<md-button ng-disabled="(login_details.user_name == null) && (login_details.user_pass == null)" ng-click="login_details = null">Clear</md-button>
				<md-button type="submit" class="md-raised md-primary" ng-disabled="userLogin.$invalid">Login</md-button>
			</div>
		</form>
	</div>
</div>