<div class="me-page">
	<div layout="row" layout-xs="column">
		<md-card class="user-info" flex="66" flex-xs="100">
			<md-card-content class="no-select">
				<div class="info-image" style="background-image:url(http://avatar-retro.com/habbo-imaging/avatarimage?figure=wa-3211-63-1408.fa-1201-63.hr-3278-1395-40.ca-3187-73.hd-190-1391.sh-295-1408.lg-3023-1429.ch-3030-1408&amp;direction=2&amp;head_direction=3&amp;action=wav&amp;size=l&amp;gesture=sml);"></div>
				<span class="info-username">Welcome <b>Bill</b></span><br /><br />
				<span class="info-motto">Motto: <b>Motto here</b></span><br />
				<span class="info-last-login">Last Login: <b>1/1/17 @ 3:00 PM</b></span><br /><br />
			</md-card-content>
		</md-card>
		<md-card class="statistic" flex="33" flex-xs="100">
			<md-card-content>
				<div class="statistic-info">
					<span class="statistic-name">Rooms</span>
					<span class="statistic-value pull-right">100</span>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div layout="row" layout-xs="column">
		<app-announcement></app-announcement>
	</div>
</div>