<div class="no-select" ng-message="required">This field is required</div>
<div class="no-select" ng-message="maxlength">This field has exceeded the maximum length</div>
<div class="no-select" ng-message="invalid_format">This field contains invalid characters</div>
<div class="no-select" ng-message="email">You must type a valid email address</div>
<div class="no-select" ng-message="username_unavailable">That username is not available</div>
<div class="no-select" ng-message="email_unavailable">That email address is already registered</div>
<div class="no-select" ng-message="password_match">Those passwords don't match</div>