<md-card class="register-card">
	<div class="left-side no-select">
		<div class="left-overlay"></div>
		<div class="left-image"></div>
		<div class="left-content">
			<div class="left-header">This is where the fun begins,</div>
			<div class="left-subheader">create your very own {{app_config.site_name}} character!</div>
			<div class="left-text">info here</div>
		</div>
	</div>
	<div class="right-side">
		<div class="register-header no-select">Register</div>
		<form class="register-form" name="userRegister" ng-submit="register(register_details)" novalidate>
			<md-input-container md-no-float class="md-block">
				<input type="text" name="userName" ng-model="register_details.user_name" ng-maxlength="20" maxlength="20" placeholder="Username" app-check-username required />
				<div ng-messages="userRegister.userName.$error">
					<div ng-messages-include="app/views/messages.html"></div>
				</div>
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<input type="email" name="userEmail" ng-model="register_details.user_email" placeholder="Email" app-check-email required />
				<div ng-messages="userRegister.userEmail.$error">
					<div ng-messages-include="app/views/messages.html"></div>
				</div>
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<input type="password" name="userPass" ng-model="register_details.user_pass" placeholder="Password" required />
				<div ng-messages="userRegister.userPass.$error">
					<div ng-messages-include="app/views/messages.html"></div>
				</div>
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<input type="password" name="userCPass" ng-model="register_details.user_cpass" placeholder="Confirm Password" compare-password="register_details.user_pass" app-compare-password required />
				<div ng-messages="userRegister.userCPass.$error">
					<div ng-messages-include="app/views/messages.html"></div>
				</div>
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary register-button" ng-disabled="(userRegister.$invalid) || (register_details.user_pass != register_details.user_cpass)">Register</md-button><br />
			<md-button class="md-raised md-accent login-button" ui-sref="login">Login</md-button>
		</form>
	</div>
</md-card>