<div class="settings">
	<div layout="row" layout-xs="column">
		<md-card class="statistic" flex="66" flex-xs="100">
			<md-card-content>
				<div class="statistic-info">
					<span class="statistic-name">Users</span>
					<span class="statistic-value pull-right">100</span>
				</div>
			</md-card-content>
		</md-card>
		<md-card class="statistic" flex="33" flex-xs="100">
			<md-card-content>
				<div class="statistic-info">
					<span class="statistic-name">Rooms</span>
					<span class="statistic-value pull-right">100</span>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div layout="row" layout-xs="column">
		<app-announcement></app-announcement>
	</div>
</div>