<md-menu-bar class="housekeeping-menu" ng-if="$root.current_user.login_status && $root.current_user.user_permissions.hk_login == 1 && housekeeping_navigation.length > 0">
    <md-menu ng-repeat="item in housekeeping_navigation | orderBy: 'sort'">
        <button ng-click="$mdMenu.open()" ng-bind="item.name"></button>
        <md-menu-content>
            <md-menu-item ng-repeat="item in item.children">
                <md-button ng-class="{active: $root.state.includes(item.state.name)}" ng-if="$root.current_user.user_permissions[item.state.permission] == 1" ui-sref="{{item.state.name}}" ng-bind="item.name"></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>