<div layout="row" layout-xs="column">
	<md-card class="banned-card no-select" flex>
		<div class="banned-image"></div>
		<md-card-content>
			<h2 translate="banned.banned_title" translate-values="{user_name: ban.username}"></h2>
			<h3 translate="banned.banned_description" translate-values="{site_name: $root.app_config.site_name}"></h3>
			<h4>{{'banned.banned_reason' | translate}}: {{ban.bans[0].ban_reason}}<br />{{'banned.banned_expires' | translate}}: {{ban.bans[0].ban_expire * 1000 | date:'MMM d, yyyy h:mm a'}}</h4>
		</md-card-content>
	</md-card>
</div>