<div class="community-page no-select">
	<div layout="row" layout-xs="column">
		<div layout="column" flex="70" flex-xs="100">
			<md-card ng-if="community_info.latest_user != null">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2 translate="community.latest_user_header"></h2>
					</div>
				</md-toolbar>
				<md-card-content class="no-padding">
					<user-card style="margin:0;" userid="community_info.latest_user.id" userinfo="community_info.latest_user"></user-card>
				</md-card-content>
			</md-card>
			<div layout="row" layout-xs="column">
				<md-card flex flex-xs="100">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2 class="center" translate="community.top_rooms.header"></h2>
						</div>
					</md-toolbar>
					<md-card-content class="no-padding">
						<div ng-if="community_info.top_rooms.length == 0" translate="community.top_rooms.empty"></div>
						<md-list class="rooms-list" flex ng-if="community_info.top_rooms.length > 0">
							<md-list-item class="md-2-line" ng-repeat="room in community_info.top_rooms | limitTo: 7" ui-sref="room({id: room.id})">
								<img ng-src="{{$root.app_config.site_images.rooms}}/{{room.model}}.png" />
								<div class="md-list-item-text">
									<h3>{{room.name}}</h3>
									<p>{{room.description}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
				<md-card flex flex-xs="100">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2 class="center" translate="community.room_promotions.header"></h2>
						</div>
					</md-toolbar>
					<md-card-content class="no-padding">
						<div ng-if="community_info.room_promotions.length == 0" translate="community.room_promotions.empty"></div>
						<md-list class="rooms-list" flex ng-if="community_info.room_promotions.length > 0">
							<md-list-item class="md-2-line" ng-repeat="promotion in community_info.room_promotions | limitTo: 7" ui-sref="room({id: promotion.room.id})">
								<img ng-src="{{$root.app_config.site_images.rooms}}/{{promotion.room.model}}.png" />
								<div class="md-list-item-text">
									<h3>{{promotion.title}}</h3>
									<p>{{promotion.description}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</div>
		</div>
		<div layout="column" flex="30" flex-xs="100">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2 class="center" translate="community.latest_statistics.header"></h2>
					</div>
				</md-toolbar>
				<md-card-content class="no-padding">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th translate="community.latest_statistics.furniture"></th>
								<td ng-bind="community_info.statistics.total_items"></td>
							</tr>
							<tr>
								<th translate="community.latest_statistics.rooms"></th>
								<td ng-bind="community_info.statistics.total_rooms"></td>
							</tr>
							<tr>
								<th translate="community.latest_statistics.users"></th>
								<td ng-bind="community_info.statistics.total_users"></td>
							</tr>
							<tr>
								<th translate="community.latest_statistics.groups"></th>
								<td ng-bind="community_info.statistics.total_groups"></td>
							</tr>
							<tr>
								<th translate="community.latest_statistics.pets"></th>
								<td ng-bind="community_info.statistics.total_pets"></td>
							</tr>
						</tbody>
					</table>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>