<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<base href="/">

	<title>HabFuse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link type="image/vnd.microsoft.icon" rel="shortcut icon" href="assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/habbo-api.css" />
</head>
<body class="app" ng-class="{'page-content': current_user.login_status == true, 'page-client': state.includes('client')}" ng-cloak>
	<div class="app-header">
		<div class="header-container">
			<a class="header-logo" ui-sref="login"></a>
			<div class="header-image"></div>
		</div>
	</div>
	<menu-bar></menu-bar>
	<div class="app-content">
		<div class="content-container" ui-view></div>
		<div class="client-container" ui-view="client"></div>
		<div class="content-footer no-select">&copy; 2017 {{$root.app_config.site_name}} Hotel</div>
	</div>
	<script type="text/javascript" src="bundle.js"></script>
</body>
</html>