<md-card class="login-card">
	<div class="left-side no-select">
		<div class="left-overlay"></div>
		<div class="left-image"></div>
		<div class="left-content">
			<div class="left-header">Welcome to {{app_config.site_name}},</div>
			<div class="left-subheader">a strange place with awesome people.</div>
			<div class="left-text">{{app_config.site_name}} Hotel is a virtual world where you can create your very own character and design your room just the way you like it. You'll meet new friends, chat, organize parties, look after virtual pets, create and play games and complete quests.</div>
		</div>
	</div>
	<div class="right-side">
		<div class="login-header no-select">Login</div>
		<form class="login-form" name="user_login" ng-submit="login()" novalidate>
			<md-input-container md-no-float class="md-block">
				<input type="text" name="user_name" ng-model="login_details.user_name" placeholder="Username" required />
				<ng-messages for="user_login.user_name.$error" include="messages.html" />
			</md-input-container>
			<md-input-container md-no-float class="md-block">
				<input type="password" name="user_pass" ng-model="login_details.user_pass" placeHolder="Password" required />
				<ng-messages for="user_login.user_pass.$error" include="messages.html" />
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary login-button" ng-disabled="user_login.$invalid">Login</md-button><br />
			<md-button class="md-raised md-accent register-button" ui-sref="register">Register</md-button>
		</form>
	</div>
</md-card>