<div class="app-menu" ng-hide="navigation_list.length == 0" md-whiteframe="2" ng-cloak>
    <div class="menu-container">
        <ul class="menu-list left" flex>
            <li ng-repeat="item in navigation_list | orderBy: 'sort'" class="list-item no-select" ng-class="{active: state.includes(item.state)}" ui-sref="{{item.state}}">
                <a>{{item.name}}</a>
            </li>
            <li class="list-item no-select"><a app-logout>Logout</a></li>
        </ul>
        <ul class="menu-list right" flex>
            <li><md-button class="hotel-button md-raised" ui-sref="client">Client</md-button></li>
        </ul>
    </div>
</div>