<ng-message when="invalidUsername" class="error" translate="generic.messages.invalidUsername"></ng-message>
<ng-message when="invalidUsernameAvailability" class="error" translate="generic.messages.invalidUsernameAvailability"></ng-message>
<ng-message when="invalidEmail" class="error" translate="generic.messages.invalidEmail"></ng-message>
<ng-message when="invalidPassword" class="error" translate="generic.messages.invalidPassword"></ng-message>
<ng-message when="invalidPasswordMatch" class="error" translate="generic.messages.invalidPasswordMatch"></ng-message>
<ng-message when="invalidEmailAvailability" class="error" translate="generic.messages.invalidEmailAvailability"></ng-message>
<ng-message when="invalidEmailAvailability2" class="error" translate="generic.messages.invalidEmailAvailability"></ng-message>
<ng-message when="invalidLogin" class="error" translate="generic.messages.invalidLogin"></ng-message>
<ng-message when="invalidCaptcha" class="error" translate="generic.messages.invalidCaptcha"></ng-message>
<ng-message when="somethingWrong" class="error" translate="generic.messages.somethingWrong"></ng-message>
<ng-message when="required" class="error" translate="generic.messages.inputRequired"></ng-message>
<ng-message when="maxlength" class="error" translate="generic.messages.inputMaxLength"></ng-message>
<ng-message when="userDisabled" class="error" translate="generic.messages.userDisabled"></ng-message>
<ng-message when="updatedPassword" class="error" translate="generic.messages.updatedPassword"></ng-message>
<ng-message when="updatedUser" class="error" translate="generic.messages.updatedUser"></ng-message>