<div class="content-navigation no-select">
    <div class="menu-upper">
        <div class="menu-container" ng-if="navigationList.length > 0">
            <ul class="no-padding" flex style="margin-left:-6px;">
                <li ng-repeat="item in navigationList" ng-class="{'active': $root.state.includes(item.state.name) || $root.state.current.displayAsChild == item.state.name, 'blue-item': item.color == 'blue', 'green-item': item.color == 'green'}" ng-hide="item.state.guestOnly == true && $root.currentUser != undefined || null || item.state.loginRequired == true && $root.currentUser == undefined || null" ui-sref="{{(item.url == null) ? item.state.name : item.url}}" ng-bind="(item.name == 'current_username') ? $root.currentUser.username : item.name"></li>
            </ul>
        </div>
    </div>
    <div class="menu-lower">
        <div class="menu-container">
            <div class="menu-inner">
                <ul class="sub-list no-padding" ng-repeat="item in navigationList" ng-if="$root.state.includes(item.state.name) || $root.state.current.displayAsChild == item.state.name" ng-hide="item.state.guestOnly == true && $root.currentUser != undefined || null || item.state.loginRequired == true && $root.currentUser == undefined || null">
                    <li ng-repeat="child in item.children" ng-class="{'active': $root.state.includes(child.state.name)}" ng-hide="child.state.guestOnly == true && $root.currentUser != undefined || null || child.state.loginRequired == true && $root.currentUser == undefined || null" ui-sref="{{(child.url == null) ? child.state.name : child.url}}" ng-bind="(child.name == 'current_username') ? $root.currentUser.username : child.name"></li>
                </ul>
            </div>
        </div>
    </div>
</div>