<section class="profile-friends-card-container">
	<div class="profile-friends-card-header"></div>
	<md-card class="no-select" style="height:210px;">
		<md-toolbar>
			<div class="md-toolbar-tools center">
				<h2>{{'profile.friends.header' | translate}}<span class="number" ng-if="$ctrl.friends.length > 0" ng-bind="$ctrl.friends.length"></span></h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-if="$ctrl.friends.length > 0" ng-click="show_all()"><md-icon>view_list</md-icon></md-button>
			</div>
		</md-toolbar>
		<md-card-content class="no-padding center">
			<div class="md-padding" ng-if="$ctrl.friends.length == 0" translate="profile.friends.no_friends"></div>
			<ul class="vertical-list avatar-list no-margin" ng-if="$ctrl.friends.length > 0">
				<li ng-repeat="friend in $ctrl.friends | orderBy: 'friends_since' | limitTo: 5">
					<a ui-sref="profile({username: friend.user.username})">
						<div class="user-avatar">
							<img ng-src="{{$root.app_config.site_images.avatars}}{{friend.user.look}}&amp;direction=3&amp;head_direction=3&amp;action=stf&amp;size=n&amp;gesture=std" />
						</div>
						<div class="user-name" ng-bind="friend.user.username"></div>
					</a>
				</li>
			</ul>
		</md-card-content>
	</md-card>
	<div style="visibility:hidden;">
		<div class="md-dialog-container" id="friends-dialog">
			<md-dialog class="no-select">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>{{'profile.friends.header' | translate}} <span class="number" ng-if="$ctrl.friends.length > 0" ng-bind="$ctrl.friends.length"></span></h2>
						<span flex></span>
						<md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
					</div>
				</md-toolbar>
				<md-dialog-content>
					<div class="md-dialog-content">
						<md-list class="avatar-list" flex>
							<md-list-item class="md-2-line" ng-repeat="friend in $ctrl.friends | orderBy: 'friends_since'" ui-sref="profile({username: friend.user.username})">
								<img class="pixel-image" ng-src="{{$root.app_config.site_images.avatars}}{{friend.user.look}}&amp;action=std&amp;gesture=sml&amp;direction=2&amp;head_direction=2&amp;size=n&amp;headonly=1&amp;img_format=png" />
								<div class="md-list-item-text">
									<span class="user-name" ng-bind="friend.user.username" style="padding-right:3px;"></span><habbo-icon ng-class="{'online-icon': friend.user.online == 1, 'offline-icon': friend.user.online == 0}"></habbo-icon><br />
									<span class="user-motto" ng-if="friend.user.motto"><habbo-icon class="motto-icon"></habbo-icon>{{friend.user.motto}}</span>
								</div>
							</md-list-item>
						</md-list>
					</div>
				</md-dialog-content>
        	</md-dialog>
		</div>
	</div>
</section>