<user-card layout="row" userinfo="profile_info" flex="100"></user-card>
<div layout="row" style="margin-bottom:8px;" layout-xs="column">
	<section class="profile-badge-card-container" flex>
		<div class="profile-badge-card-header"></div>
		<profile-badges username="profile_info.username" data="profile_info.badges"></profile-badges>
	</section>
	<section class="profile-friends-card-container" flex>
		<div class="profile-friends-card-header"></div>
		<profile-friends username="profile_info.username" data="profile_info.friends"></profile-friends>
	</section>
</div>
<div layout="row" layout-xs="column">
	<section class="profile-rooms-card-container" flex>
		<div class="profile-rooms-card-header"></div>
		<profile-rooms username="profile_info.username" data="profile_info.rooms"></profile-rooms>
	</section>
	<section class="profile-groups-card-container" flex>
		<div class="profile-groups-card-header"></div>
		<profile-groups username="profile_info.username" data="profile_info.group_memberships"></profile-groups>
	</section>
</div>