<user-card layout="row" userinfo="profile_info" flex="100"></user-card>
<div layout="row" style="margin-bottom:8px;" layout-xs="column">
	<profile-badges flex username="profile_info.username" badges="profile_info.badges"></profile-badges>
	<profile-friends flex username="profile_info.username" friends="profile_info.friends"></profile-friends>
</div>
<div layout="row" layout-xs="column" style="margin-bottom:8px;">
	<profile-rooms flex username="profile_info.username" rooms="profile_info.rooms"></profile-rooms>
	<profile-groups flex username="profile_info.username" groups="profile_info.group_memberships"></profile-groups>
</div>