<div layout="row" layout-xs="column">
    <md-card class="register-card-left no-select" flex="60" hide-xs>
        <div class="left-image"></div>
        <md-card-content>
            <h2 translate="register.register_header"></h2>
            <h3 translate="register.register_description" translate-values="{site_name: app_config.site_name}"></h3>
            <h4 translate="register.register_info" translate-values="{site_name: app_config.site_name}"></h4>
        </md-card-content>
    </md-card>
    <md-card class="register-card-right no-select" flex="40" flex-xs="100">
        <md-toolbar>
			<div class="md-toolbar-tools center">
				<habbo-icon class="key space-right"></habbo-icon><h2 translate="register.register_card_header"></h2>
			</div>
		</md-toolbar>
        <md-card-content>
            <form name="user_register" ng-submit="register()" novalidate>
                <md-input-container md-no-float class="md-block">
                    <input type="text" name="user_name" ng-model="register_details.user_name" ng-maxlength="20" translate translate-attr-placeholder="forms.username" required validate-username />
                    <div ng-messages="user_register.user_name.$error" md-auto-hide="false" ng-show="user_register.user_name.$touched">
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input type="email" name="user_email" ng-model="register_details.user_email" translate translate-attr-placeholder="forms.email" required validate-email />
                    <div ng-messages="user_register.user_email.$error" md-auto-hide="false" ng-show="user_register.user_email.$touched">
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input type="password" name="user_pass" ng-model="register_details.user_pass" translate translate-attr-placeholder="forms.password" required />
                    <div ng-messages="user_register.user_pass.$error" md-auto-hide="false" ng-show="user_register.user_pass.$touched">
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input type="password" name="user_cpass" ng-model="register_details.user_cpass" translate translate-attr-placeholder="forms.confirm_password" required />
                    <div ng-messages="user_register.user_cpass.$error" md-auto-hide="false" ng-show="user_register.user_cpass.$touched">
                        <div ng-messages-include="views/messages.html"></div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary register-button" ng-disabled="(user_register.$invalid) || (register_details.user_pass != register_details.user_cpass)" translate="buttons.register"></md-button><br />
                <md-button class="md-raised login-button" ui-sref="login" translate="buttons.login"></md-button>
            </form>
        </md-card-content>
    </md-card>
</div>