<div layout="row" layout-xs="column">
	<div layout="column" flex="70" flex-xs="100">
		<md-card class="no-select">
			<md-card-title class="centered-title">
				<md-card-title-text>
					<span class="md-headline" ng-bind="room_info.name"></span>
					<span class="md-subhead description no-padding" ng-if="room_info.description" ng-bind="room_info.description"></span>
				</md-card-title-text>
				<a class="group-room" ng-if="room_info.guild_id != 0" ui-sref="group({id: room_info.group.id})" >
					<div class="badge-icon">
						<div class="badge-icon-aligner">
							<img ng-src="{{$root.app_config.site_images.group_badges}}/{{room_info.group.badge}}.png" />
						</div>
					</div>
				</a>
			</md-card-title>
		</md-card>
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<habbo-icon class="star-gold space-right"></habbo-icon><h2 translate="room.room_owner_title"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding">
				<user-card userinfo="room_info.owner" style="margin:0;"></user-card>
			</md-card-content>
		</md-card>
	</div>
	<div layout="column" flex="30" flex-xs="100">
		<room-card title="'room.room_details' | translate" roominfo="room_info"></room-card>
	</div>
</div>