<div layout="row" layout-xs="column">
	<div layout="column" flex="70" flex-xs="100">
		<md-card class="no-select">
			<md-card-title>
				<habbo-room-icon class="room-icon no-select">
                    <div class="room-icon"></div>
                </habbo-room-icon>
				<md-card-title-text style="justify-content:center;padding-left:10px;">
					<span class="md-headline" ng-bind="room_info.name"></span>
					<span class="md-subhead description" ng-if="room_info.description != null" ng-bind="room_info.description"></span>
				</md-card-title-text>
				<a class="group-room" ng-if="room_info.guild_id != 0" ui-sref="group({id: room_info.group.id})" style="display:flex;justify-content:center;padding-right:10px;">
					<div class="badge-icon">
						<div class="badge-icon-aligner">
							<img ng-src="{{$root.app_config.site_images.group_badges}}/{{room_info.group.badge}}.gif" />
						</div>
					</div>
				</a>
			</md-card-title>
		</md-card>
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 translate="rooms.room_owner"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding">
				<user-card userid="room_info.owner.id" userinfo="room_info.owner" style="margin:0;"></user-card>
			</md-card-content>
		</md-card>
	</div>
	<div layout="column" flex="30" flex-xs="100">
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 class="center" translate="rooms.details_card.header"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th translate="rooms.details_card.type"></th>
							<td ng-if="room_info.is_public == 1" translate="rooms.details_card.type_public"></td>
							<td ng-if="room_info.is_public == 0" translate="rooms.details_card.type_private"></td>
						</tr>
						<tr>
							<th translate="rooms.details_card.state"></th>
							<td ng-if="room_info.state == 'open'" translate="rooms.details_card.state_open"></td>
							<td ng-if="room_info.state == 'locked'" translate="rooms.details_card.state_locked"></td>
							<td ng-if="room_info.state == 'password'" translate="rooms.details_card.state_password"></td>
						</tr>
						<tr>
							<th translate="rooms.details_card.score"></th>
							<td ng-bind="room_info.score"></td>
						</tr>
						<tr>
							<th translate="rooms.details_card.users_now"></th>
							<td ng-bind="room_info.users"></td>
						</tr>
						<tr>
							<th translate="rooms.details_card.users_max"></th>
							<td ng-bind="room_info.users_max"></td>
						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>
	</div>
</div>