<div layout="row" layout-xs="column" ng-repeat="rank in staff_users track by $index" ng-hide="rank.users.length == 0">
    <md-card class="staff-members-card no-select" flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="center" ng-bind="rank.rank_name"></h2>
            </div>
        </md-toolbar>
        <md-card-content class="no-padding center">
            <md-list class="avatar-list" flex>
				<md-list-item class="md-2-line" ng-repeat="user in rank.users" ui-sref="profile({username: user.username})">
					<img class="pixel-image" ng-src="{{$root.app_config.site_images.avatars}}{{user.look}}&amp;action=std&amp;gesture=sml&amp;direction=2&amp;head_direction=2&amp;size=n&amp;headonly=1&amp;img_format=png" />
					<div class="md-list-item-text">
						<h3>{{user.username}}</h3>
						<p ng-if="user.motto != null">{{user.motto}}</p>
					</div>
				</md-list-item>
			</md-list>
        </md-card-content>
    </md-card>
</div>