<div layout="row" layout-xs="column" ng-repeat="rank in staff_users track by $index" ng-hide="rank.users.length == 0">
    <md-card class="staff-members-card no-select" flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="center" ng-bind="rank.rank_name"></h2>
            </div>
        </md-toolbar>
        <md-card-content class="no-padding center">
            <ul class="vertical-list avatar-list no-margin">
                <li ng-repeat="user in rank.users">
                    <a ui-sref="profile({username: user.username})">
                        <div class="user-avatar">
                            <img ng-src="{{$root.app_config.site_images.avatars}}{{user.look}}&amp;direction=3&amp;head_direction=3&amp;action=stf&amp;size=n&amp;gesture=std" />
                        </div>
                        <div class="user-name">{{user.username}}</div>
                    </a>
                </li>
            </ul>
        </md-card-content>
    </md-card>
</div>