<md-card class="no-select">
    <md-toolbar>
        <div class="md-toolbar-tools center">
            <h2 translate="generic.headers.password"></h2>
        </div>
    </md-toolbar>
    <md-card-content style="padding:5px 25px;">
        <form name="passwordForm" ng-submit="updateHotelUserPassword()" validate>
            <md-input-container class="md-block">
                <label translate="generic.forms.passwordCurrent"></label>
                <input id="password" type="password" name="password" ng-model="passwordFormDetails.password" ng-change="passwordForm.password.$setValidity('invalidPassword', true)" autofocus required />
                <div ng-messages="passwordForm.password.$dirty && passwordForm.password.$error" md-auto-hide="false">
                    <div ng-messages-include="views/messages.html"></div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="generic.forms.passwordNew"></label>
                <input id="passwordNew" type="password" name="passwordNew" ng-model="passwordFormDetails.passwordNew" required />
                <div ng-messages="passwordForm.passwordNew.$dirty && passwordForm.passwordNew.$error" md-auto-hide="false">
                    <div ng-messages-include="views/messages.html"></div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="generic.forms.passwordConfirm"></label>
                <input id="passwordConfirm" type="password" name="passwordConfirm" ng-model="passwordFormDetails.passwordConfirm" required />
                <div ng-messages="passwordForm.passwordConfirm.$dirty && passwordForm.passwordConfirm.$error" md-auto-hide="false">
                    <div ng-messages-include="views/messages.html"></div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-silver" ng-disabled="(passwordForm.$invalid) || (passwordFormDetails.passwordNew != passwordFormDetails.passwordConfirm)" translate="generic.buttons.save"></md-button>
        </form>
    </md-card-content>
</md-card>