<md-card class="no-select" flex ng-if="$ctrl.data.length > 0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <habbo-icon class="conversation space-right"></habbo-icon><h2>{{$ctrl.header}} <span class="number" ng-if="$ctrl.data.length > 0" ng-bind="$ctrl.newslist.length"></span></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-if="$ctrl.data.length > 0" ng-hide="$ctrl.type == 'disablePopup'" ng-click="show_all()"><md-icon>view_list</md-icon></md-button>
        </div>
    </md-toolbar>
    <md-card-content class="no-padding">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="article in $ctrl.data" ui-sref="news({id: article.id})">
                <div class="md-list-item-text">
                    <span class="article-name" ng-bind="article.title"></span><br />
                    <span class="article-description" ng-if="article.description"><habbo-icon class="motto-icon"></habbo-icon>{{article.description}}<br /></span>
                    <span class="date-posted" ng-if="article.updated_at"><habbo-icon class="clock-icon"></habbo-icon>{{article.updated_at | date:'MMM d, yyyy'}}</span>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<div style="visibility:hidden;" ng-if="$ctrl.data.length > 0" ng-hide="$ctrl.type == 'disablePopup'">
    <div class="md-dialog-container" id="{{$ctrl.type}}-dialog">
        <md-dialog class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <habbo-icon class="conversation space-right"></habbo-icon><h2>{{$ctrl.header}} <span class="number" ng-if="$ctrl.data.length > 0" ng-bind="$ctrl.data.length"></span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="article in $ctrl.data" ui-sref="news({id: article.id})">
                            <div class="md-list-item-text">
                                <span class="article-name" ng-bind="article.title"></span><br />
                                <span class="article-description" ng-if="article.description"><habbo-icon class="motto-icon"></habbo-icon>{{article.description}}<br /></span>
                                <span class="date-posted" ng-if="article.updated_at"><habbo-icon class="clock-icon"></habbo-icon>{{article.updated_at | date:'MMM d, yyyy'}}</span>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>