ul.forum-list li {
    height: 70px;
}

ul.forum-list li.list-header {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #e4eaec;
}

ul.forum-list li dl {
    position: relative;
    height: 100%;
}

ul.forum-list li dl dt {
    width: 100%;
    margin-right: -440px;
}

ul.forum-list li.list-header dl dt {
    line-height: 50px;
}

ul.forum-list li dl dt,
ul.forum-list li dl dd {
    float: left;
    min-height: 0;
}

ul.forum-list li dl dt .list-inner {
    padding-left: 20px;
    padding-right: 50px;
    margin-right: 440px;
}

ul.forum-list li dl dt .list-inner span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.7);
}

ul.forum-list li dl dt .list-inner span.description {
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}

ul.forum-list li dl dt .list-inner a {
    font-size: 20px;
    font-weight: 300;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

ul.forum-list li dl dt .list-inner a:hover {
    color: #999999;
}

ul.forum-list li dl dd {
    margin: 0;
    font-size: 14px;
}

ul.forum-list li.list-header dl dd {
    line-height: 50px;
}

ul.forum-list li dl dd.list-threads,
ul.forum-list li dl dd.list-views,
ul.forum-list li dl dd.list-posts,
ul.forum-list li dl dd.list-latest-post {
    width: 95px;
    text-align: center;
}

ul.forum-list li dl dd.list-latest-post {
    width: 250px;
    text-align: left;
}










md-list.forum-list md-list-item {
    padding: 10px 16px;
    border-bottom: 1px solid #e4eaec;
}

md-list.forum-list md-list-item a.center {
    margin: auto;
}

md-list.forum-list md-list-item:last-child {
    border-bottom: 0;
}

md-list.forum-list .md-list-item-text {
    padding-left: 10px;
}

md-list.forum-list .md-list-item-text h3 a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

md-list.forum-list .md-list-item-text h3 a:hover,
ul.forum-children-list li a:hover {
    color: #999999;
}

ul.forum-children-list {
    width: 400px;
    padding: 10px 0;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul.forum-children-list li a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}