habbo-icon {
    display: inline-block;
    image-rendering: pixelated;
    outline: 0;
}

habbo-icon.center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

habbo-icon.space-right {
    margin-right: 10px;
}

habbo-icon.online-icon {
    width: 50px;
    height: 16px;
    background: transparent url("assets/images/icons/online.gif") no-repeat;
}

habbo-icon.offline-icon {
    width: 50px;
    height: 16px;
    background: transparent url("assets/images/icons/offline.gif") no-repeat;
}

habbo-icon.clock-icon {
    width: 15px;
    height: 13px;
    background: transparent url("assets/images/icons/clock.png") no-repeat;
}

habbo-icon.motto-icon {
    width: 15px;
    height: 14px;
    background: transparent url("assets/images/icons/motto.png") no-repeat;
}

habbo-icon.star-gold {
    width: 15px;
    height: 15px;
    background: transparent url("assets/images/icons/star-gold.gif") no-repeat;
}

habbo-icon.conversation {
    width: 20px;
    height: 14px;
    background: transparent url("assets/images/icons/conversation.png") no-repeat;
}

habbo-icon.user {
    width: 10px;
    height: 16px;
    background: transparent url("assets/images/icons/user.gif") no-repeat;
}

habbo-icon.users {
    width: 19px;
    height: 20px;
    background: transparent url("assets/images/icons/users.gif") no-repeat;
}

habbo-icon.navigator {
    width: 35px;
    height: 35px;
    background: transparent url("assets/images/icons/navigator.gif") no-repeat;
}

habbo-icon.wrench {
    width: 16px;
    height: 16px;
    background: transparent url("assets/images/icons/wrench.gif") no-repeat;
}

habbo-icon.lock {
    width: 16px;
    height: 16px;
    background: transparent url("assets/images/icons/lock.gif") no-repeat;
}

habbo-icon.enter-room {
    width: 16px;
    height: 16px;
    background: transparent url("assets/images/icons/enter-room.gif") no-repeat;
}

habbo-icon.key {
    width: 16px;
    height: 16px;
    background: transparent url("assets/images/icons/key.gif") no-repeat;
}

habbo-icon.active-room {
    width: 32px;
    height: 32px;
    background: transparent url("assets/images/icons/active-room.gif") no-repeat;
}

habbo-icon.trash {
    width: 11px;
    height: 13px;
    background: transparent url("assets/images/icons/trash.gif") no-repeat;
}

habbo-icon.heart {
    width: 15px;
    height: 14px;
    background: transparent url("assets/images/icons/heart.gif") no-repeat;
}

habbo-icon.groups {
    width: 18px;
    height: 18px;
    background: transparent url("assets/images/icons/groups.gif") no-repeat;
}

habbo-room-icon, habbo-room-icon:before {
    display: block;
    height: 90px;
    width: 90px;
    line-height: 0;
    text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    habbo-room-icon:before {
        background-image: url('assets/images/icons/habbo-icon-sprites.png');
        background-position: -396px -99px;
        background-size: 494px 475px;
    }
}

habbo-room-icon:before {
    content: '';
    position: absolute;
}

habbo-room-icon .room-icon {
    position: relative;
    width: 85px;
    height: 85px;
    overflow: hidden;
}