md-card {
    overflow: hidden;
}

md-card md-toolbar,
md-card md-toolbar .md-toolbar-tools {
    background-color: #FFFFFF;
}

md-card md-toolbar .md-toolbar-tools {
    padding: 0 20px !important;
    border-bottom: 1px solid #e4eaec;
}

md-card md-toolbar .md-toolbar-tools.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

md-card md-toolbar .md-toolbar-tools h2 {
    color: rgba(0,0,0,.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

md-card md-toolbar .md-toolbar-tools h2 span.number,
md-toolbar .md-toolbar-tools h2 span.number {
    padding-left: 10px;
    color: rgba(0,0,0,.3);
    font-weight: 300;
    float: right;
}

md-card md-toolbar .md-toolbar-tools h2.center {
    margin: 0 auto;
}

md-card md-toolbar.footer .md-toolbar-tools {
    border-top: 1px solid #e4eaec;
    border-bottom: 0;
}

md-card md-toolbar .md-toolbar-tools .md-button {
    color: #000000;
}

md-card md-toolbar .md-toolbar-tools .md-icon-button md-icon.material-icons {
    color: #000000;
}

md-card md-card-content {
    background-color: #FFFFFF;
}

md-card md-card-content.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

md-card.user-info-card {
    height: 140px;
    max-height: 140px;
    background: #007498 url("../images/hotel-background.png") no-repeat center center;
    overflow: hidden;
    image-rendering: pixelated;
    overflow: hidden;
}

md-card.user-info-card md-card-content {
    height: 100%;
    width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, .6);
    color: #FFFFFF;
}

md-card.user-info-card md-card-content a.user-avatar {
    display: block;
    position: absolute;
    width: 125px;
    height: 170px;
    margin-top: -30px;
    overflow: hidden;
}

md-card.user-info-card md-card-content .user-info {
    padding: 15px 0 0 125px;
    color: #FFFFFF;
}

md-card.user-info-card md-card-content .user-info span habbo-icon.motto-icon {
    display: inline-block;
    margin-bottom: -2.7px;
    margin-right: 4px;
}

md-card.user-info-card md-card-content .user-info span habbo-icon.clock-icon {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 4px;
}

md-card.user-info-card md-card-content .user-info span.user-name {
    font-size: 30px;
    font-weight: 400;
}

md-card.user-info-card md-card-content .user-info span.user-motto,
md-card.user-info-card md-card-content .user-info span.last-login {
    padding: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}