.login-card-left {
    position: relative;
    margin: 0 !important;
    background-color: #008A5F;
    overflow: hidden;
}

.login-card-left .left-image {
    position: absolute;
    width: 465px;
	height: 350px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
	opacity: .25;
    background: url("assets/images/login-image.png") no-repeat;
	image-rendering: pixelated;
}

.login-card-left md-card-content {
    position: absolute;
    padding: 30px 60px 0;
    background: transparent;
}

.login-card-left md-card-content h2 {
    margin: 10px 0 0;
    font-weight: 300;
	font-size: 35px;
	color: #FFFFFF;
}

.login-card-left md-card-content h3 {
    margin: 0 0 30px;
    font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}

.login-card-left md-card-content h4 {
    font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

.login-card-right {
    margin: 0 !important;
}

.login-card-right md-toolbar .md-toolbar-tools h2 {
    font-size: 26px;
}

.login-card-right md-card-content form {
    padding: 0 30px;
}

.login-card-right md-card-content form button.login-button,
.login-card-right md-card-content form a.register-button {
    width: 100%;
    height: 60px;
    margin: 6px 0;
    font-size: 18px;
    line-height: 60px;
}