md-list {
    padding: 0;
}

md-list md-list-item {
    cursor: pointer;
}

md-list md-list-item .md-button {
    line-height: normal;
}

md-list md-list-item span habbo-icon.motto-icon {
    display: inline-block;
    margin-bottom: -2.7px;
    margin-right: 4px;
}

md-list md-list-item span habbo-icon.clock-icon {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 4px;
}

md-list md-list-item span.user-name,
md-list md-list-item span.room-name,
md-list md-list-item span.group-name,
md-list md-list-item span.thread-name,
md-list md-list-item span.article-name {
    font-size: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-list md-list-item span.thread-owner {
    font-size: 18px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-list md-list-item span.user-motto,
md-list md-list-item span.last-login,
md-list md-list-item span.room-description,
md-list md-list-item span.room-visited,
md-list md-list-item span.group-description,
md-list md-list-item span.thread-message,
md-list md-list-item span.thread-time,
md-list md-list-item span.member-since,
md-list md-list-item span.group-created,
md-list md-list-item span.article-description,
md-list md-list-item span.date-posted {
    padding: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}

md-list md-list-item .md-secondary-container button {
    min-width: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul.vertical-list li {
    float: left;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
}

ul.avatar-list li a .user-name {
    display: block;
    margin: 6px 0;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #000000;
    text-align: center;
}

ul.badge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

ul.badge-list li {
    margin: 0 5px 5px 0;
}

ul.badge-list li:last-child {
    margin: 0;
}

ul.user-list {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

ul.user-list li {
    margin: 0 5px 0 0;
    max-width: 20%;
    cursor: pointer;
}

ul.user-list li:last-child {
    margin: 0;
}

ul.user-list li .user-name {
    display: block;
    padding: 0 0 7px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #000000;
}

ul.room-list {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

ul.room-list li {
    margin: 0 10px 0 0;
    max-width: 20%;
    cursor: pointer;
}

ul.room-list li:last-child {
    margin: 0;
}

ul.room-list li .room-name {
    display: block;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #000000;
}

ul.group-list {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

ul.group-list li {
    margin: 0 15px 0 0;
    max-width: 20%;
    cursor: pointer;
}

ul.group-list li:last-child {
    margin: 0;
}

ul.group-list li .group-name {
    display: block;
    padding: 6px 0 0;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #000000;
}