.banned-card {
    position: relative;
    height: 390px;
    background-color: #008A5F;
    overflow: hidden;
}

.banned-card .banned-image {
    position: absolute;
    width: 465px;
	height: 350px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
	opacity: .25;
    background: url("assets/images/login-image.png") no-repeat;
	image-rendering: pixelated;
}

.banned-card md-card-content {
    position: absolute;
    padding: 30px 60px 0;
    background: transparent;
}

.banned-card md-card-content h2 {
    margin: 10px 0 0;
    font-weight: 300;
	font-size: 35px;
	color: #FFFFFF;
}

.banned-card md-card-content h3 {
    margin: 0 0 30px;
    font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}

.banned-card md-card-content h4 {
    font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}