.app .app-menu {
    position: fixed;
    width: 100%;
    height: 70px;
    max-width: 960px;
    left: 0;
    right: 0;
    margin: 140px auto 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    border-radius: 4px;
    z-index: 4;
    overflow: hidden;
}

.app .housekeeping-menu {
    position: fixed;
    width: 100%;
    height: 40px;
    max-width: 950px;
    left: 0;
    right: 0;
    margin: 220px auto 0;
    padding: 0 !important;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    border-radius: 4px;
    z-index: 4;
    overflow: hidden;
}

.app .housekeeping-menu .md-menu {
    padding: 0;
}

.app .housekeeping-menu .md-menu button {
    padding: 0 15px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.app .housekeeping-menu .md-menu.active button {
    background-color: rgb(238,238,238);
}

.app.show-client .app-menu,
.app.show-client .housekeeping-menu {
    display: none;
}

.app-menu .menu-container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.app-menu .menu-container ul.menu-list {
    display: table;
    margin: 0;
    padding: 0 15px;
    height: 100%;
    list-style: none;
    float: left;
}

.app-menu .menu-container ul.menu-list.right {
    float: right;
}

.app-menu .menu-container ul.menu-list li.list-item,
.app-menu .menu-container ul.menu-list li.list-item-no-hover {
    display: table-cell;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 70px;
    white-space: nowrap;
    color: rgba(0,0,0,.7);
    outline: 0;
    cursor: pointer;
}

.app-menu .menu-container ul.menu-list li.list-item-no-hover.users-online {
    font-size: 18px;
}

.app-menu .menu-container ul.menu-list li.list-item.avatar-image {
    padding-right: 60px;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 20px;
    font-weight: 400;
    image-rendering: pixelated;
}

.app-menu .menu-container ul.menu-list li.list-item:after {
    display: block;
    margin: -2px auto auto;
	content: '';
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}

.app-menu .menu-container ul.menu-list li.list-item:hover:after {
	width: 100%;
	background: #001726;
}

.app-menu .menu-container ul.menu-list li.list-item.active:after {
    display: block;
    margin: -2px auto auto;
	content: '';
	height: 2px;
	width: 100%;
	background: #001726;
}

.app-menu .menu-container ul.menu-list li.list-item:hover,
.app-menu .menu-container ul.menu-list li.list-item:focus {
    color: #999999;
}

.app-menu .menu-container ul.menu-list li.list-item.active {
    font-weight: 400;
}