md-list.avatar-list,
md-list.room-list,
md-list.group-list,
md-list.forum-list {
    padding: 0;
}

md-list md-list-item {
    cursor: pointer;
}

md-list md-list-item .md-button {
    line-height: normal;
}

md-list md-list-item span habbo-icon.motto-icon {
    display: inline-block;
    margin-bottom: -2.7px;
    margin-right: 4px;
}

md-list md-list-item span habbo-icon.clock-icon {
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 4px;
}

md-list md-list-item span.user-name,
md-list md-list-item span.room-name,
md-list md-list-item span.group-name,
md-list md-list-item span.thread-name {
    font-size: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-list md-list-item span.thread-owner {
    font-size: 18px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-list md-list-item span.user-motto,
md-list md-list-item span.last-login,
md-list md-list-item span.room-description,
md-list md-list-item span.room-visited,
md-list md-list-item span.group-description,
md-list md-list-item span.thread-message,
md-list md-list-item span.thread-time,
md-list md-list-item span.member-since,
md-list md-list-item span.group-created {
    padding: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}

ul {
    list-style: none;
}

ul.no-margin {
    margin: 0 !important;
}

ul.no-padding {
    padding: 0 !important;
}

ul.vertical-list li {
    float: left;
}

ul.avatar-list {
    padding: 0 0 10px;
}

ul.avatar-list li {
    margin: 0 5px 0 0;
}

ul.avatar-list li:last-child {
    margin: 0;
}

ul.avatar-list li a {
    text-decoration: none;
    cursor: pointer;
}

ul.avatar-list li a .user-name {
    display: block;
    margin: 6px 0;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #000000;
    text-align: center;
}

ul.badge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

ul.badge-list li {
    margin: 0 5px 5px 0;
}

ul.badge-list li:last-child {
    margin: 0;
}

ul.badge-list li a {
    text-decoration: none;
    cursor: pointer;
}

ul.badge-list li a .badge-name {
    display: block;
    margin: 15px 0 0;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #000000;
    text-align: center;
}

ul.room-list {
    padding: 20px 0;
}

ul.room-list li {
    margin: 0 5px 0 0;
    cursor: pointer;
    max-width: 109px;
}

ul.room-list li:last-child {
    margin: 0;
}

ul.room-list li .room-name {
    display: block;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    text-align: center;
}