.app .app-header {
    position: fixed;
    width: 100%;
    height: 120px;
    background: #D6D6D6;
    z-index: 2;
}

.app .app-header .header-container {
    display: flex;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
	align-items: center;
    z-index: 3;
}

.app .app-header .header-container .header-logo {
    position: relative;
    width: 228px;
    height: 64px;
    image-rendering: pixelated;
    background: url("../images/habfuse-logo.png") no-repeat;
    z-index: 5;
}

.app .app-header .header-container .header-image {
    position: absolute;
    width: 465px;
    height: 120px;
    image-rendering: pixelated;
    background: url("../images/login-image.png") no-repeat 0 -160px;
    float: right;
    z-index: 4;
}