/** MAIN CARD STYLE **/

md-card md-toolbar,
md-card md-toolbar .md-toolbar-tools {
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    background-color: #FFFFFF !important;
}

md-card md-toolbar .md-toolbar-tools {
    padding: 0 20px !important;
    line-height: 50px;
    border-bottom: 1px solid #e4eaec;
}

md-card md-toolbar .md-toolbar-tools.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

md-card md-toolbar .md-toolbar-tools h2 {
    color: rgba(0,0,0,.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

md-card md-toolbar .md-toolbar-tools h2.center {
    margin: 0 auto;
}

md-card md-toolbar .md-toolbar-tools h2 span.number {
    padding-left: 10px;
    color: rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: 300;
    float: right;
}

md-card md-toolbar .md-toolbar-tools .md-button {
    color: #000000;
}

md-card md-toolbar .md-toolbar-tools .md-icon-button md-icon.material-icons {
    color: #000000;
}

md-card md-toolbar.footer .md-toolbar-tools {
    border-top: 1px solid #e4eaec;
    border-bottom: 0;
}

md-card md-card-title .badge-icon,
md-card md-card-title .room-icon {
    margin-top: -8px;
}

md-card md-card-title md-card-title-text {
    padding-left: 15px;
}

md-card md-card-content.scroll-overflow {
    overflow: scroll;
}

md-card md-card-content.hide-overflow {
    overflow: hidden;
}

md-card md-card-content.no-padding {
    padding: 0;
}

md-card md-card-content.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/** /MAIN CARD STYLE **/

/** USER-INFO CARD STYLE **/

md-card.user-info-card {
    height: 140px;
    max-height: 140px;
    background: #007498 url("../images/hotel-background.png") no-repeat center center;
    overflow: hidden;
    image-rendering: pixelated;
}

md-card.user-info-card md-card-content {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    color: #FFFFFF;
}

md-card.user-info-card md-card-content a.user-avatar {
    display: block;
    position: absolute;
    width: 125px;
    height: 170px;
    margin-top: -47px;
    overflow: hidden;
}

md-card.user-info-card md-card-content span.user-name {
    margin-left: 130px;
    padding-top: 26px;
    font-size: 30px;
    font-weight: 400;
    font-style: bold;
    color: #FFFFFF;
}

md-card.user-info-card md-card-content span.user-motto {
    margin-left: 130px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #FFFFFF;
}

md-card.user-info-card md-card-content span.user-last-login {
    margin-left: 130px;
    padding-top: 50px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

md-card.user-info-card md-card-content span.user-credits {
    margin-left: 130px;
    font-size: 16px;
    font-weight: 400;
    font-style: bold;
    color: #FFFFFF;
}

md-card.user-info-card md-card-content span.user-credits .material-icons {
    line-height: 21px;
    color: #FFFFFF;
}

/** /USER-INFO CARD STYLE **/