/** BADGES **/

section.profile-badge-card-container {
    width: 100%;
    height: 100%;
}

section.profile-badge-card-container .profile-badge-card-header {
    width: 100%;
    height: 140px;
    background: url('assets/images/cards/card_badges_header.png') no-repeat;
    image-rendering: pixelated;
}

section.profile-badge-card-container md-card {
    margin: 0 8px 8px;
}

/** /BADGES **/

/** FRIENDS **/

section.profile-friends-card-container {
    width: 100%;
    height: 100%;
}

section.profile-friends-card-container .profile-friends-card-header {
    width: 100%;
    height: 140px;
    background: url('assets/images/cards/card_friends_header.png') no-repeat;
    image-rendering: pixelated;
}

section.profile-friends-card-container md-card {
    margin: 0 8px 8px;
}

/** /FRIENDS **/

/** ROOMS **/

section.profile-rooms-card-container .profile-rooms-card-header {
    width: 100%;
    height: 140px;
    background: url('assets/images/cards/card_rooms_header.png') no-repeat;
    image-rendering: pixelated;
}

section.profile-rooms-card-container md-card {
    margin: 0 8px 8px;
}

/** /ROOMS **/

/** GROUPS **/

section.profile-groups-card-container .profile-groups-card-header {
    width: 468px;
    height: 140px;
    background: url('assets/images/cards/card_groups_header.png') no-repeat;
    image-rendering: pixelated;
}

section.profile-groups-card-container md-card {
    margin: 0 8px 8px;
}

/** /GROUPS **/