.app .main-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.app.show-client .main-content {
    height: 100% !important;
    margin-top: 0 !important;
}

.app .main-content.show-menu {
    height: calc(100% - 210px);
    margin-top: 210px;
}

.app .main-content .content-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.app.show-client .main-content .content-container {
    display: none;
}

.app .main-content.show-menu .content-container {
    padding-top: 10px;
}

[ui-view].ng-enter {
    transition: .5s;
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

.app .main-content .client-container {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.app.show-client .main-content .client-container {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.app .main-content .client-container object {
    visibility: hidden;
}

.app:not(.show-client) .main-content .client-container button.return-web {
    display: none;
}

.app.show-client .main-content .client-container object {
    visibility: visible;
    background: transparent !important;
}

.app .main-content .content-footer {
    height: 40px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    overflow: hidden;
}

.app.show-client .main-content .content-footer {
    display: none;
}