<md-dialog class="no-select">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Friends</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="friend in friends | orderBy: 'friends_since'" ng-click="showProfile(friend.user.username)">
                    <div class="badge-icon">
                        <div class="badge-icon-aligner">
                            <img ng-src="{{$root.app_config.site_images.avatars}}{{friend.user.look}}&amp;head_direction=2&amp;action=wav&amp;size=n&amp;gesture=sml&amp;headonly=1" />
                        </div>
                    </div>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{friend.user.username}}</h3>
                        <p>{{friend.user.motto}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>