<md-card class="badges-card no-select">
    <md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="no-select center">Badges</h2>
		</div>
	</md-toolbar>
	<md-card-content>
		<div ng-if="badges.length == 0">This user has no badges!</div>
		<ul class="badge-list" ng-if="badges.length > 0">
			<li ng-repeat="badge in badges | orderBy: '-slot_id' | limitTo: 5">
				<a>
					<div class="badge-icon">
						<div class="badge-icon-aligner">
							<img ng-src="{{$root.app_config.site_images.badges}}/{{badge.badge_code}}.gif" />
						</div>
					</div>
				</a>
			</li>
		</ul>
	</md-card-content>
	<md-toolbar class="footer" ng-if="badges.length > 0">
		<div class="md-toolbar-tools center">
			<md-button ng-click="showAll()">See All</md-button>
		</div>
	</md-toolbar>
</md-card>