<md-card class="friends-card no-select" ng-hide="friends.length == 0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="no-select center">Friends</h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <ul class="friend-list">
            <li ng-repeat="friend in friends | orderBy: 'friends_since' | limitTo: 5">
                <a ui-sref="profile({username: friend.user.username})">
                    <div class="user-avatar">
                        <img ng-src="{{$root.app_config.site_images.avatars}}{{friend.user.look}}&amp;direction=3&amp;head_direction=3&amp;action=stf&amp;size=n&amp;gesture=std" />
                    </div>
                    <div class="user-name">{{friend.user.username}}</div>
                </a>
            </li>
        </ul>
    </md-card-content>
    <md-toolbar class="footer">
        <div class="md-toolbar-tools center">
            <md-button ng-click="showAll()">See All</md-button>
        </div>
    </md-toolbar>
</md-card>