<md-card class="no-select">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="cards.announcements.header"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="load_announcemnts()"><md-icon>refresh</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="show_add()"><md-icon>add</md-icon></md-button>
        </div>
    </md-toolbar>
    <md-card-content class="no-padding">
        <div ng-if="announcement_list.length == 0" translate="cards.announcements.no_announcements" style="padding: 20px;"></div>
        <md-list class="announcement-list" flex ng-if="announcement_list.length > 0">
            <md-list-item class="md-3-line" ng-repeat="announcement in announcement_list" ng-init="item.expanded = false" ng-click="item.expanded = !item.expanded">
                <div class="md-list-item-text" ng-style="item.expanded == true ? {'margin': '15px 0'} : null;">
					<h3 ng-bind="announcement.title"></h3>
                    <h4>by: {{announcement.owner.user_name}} on {{announcement.created_at | date:'mediumDate'}}</h4>
                    <p ng-if="item.expanded" ng-bind="announcement.content" style="padding:20px;white-space: pre-wrap;"></p>
				</div>
			</md-list-item>
	    </md-list>
    </md-card-content>
</md-card>
<div style="visibility: hidden">
    <div id="add-announcement" class="md-dialog-container">
        <md-dialog>
            <md-toolbar>
                <div class="md-toolbar-tools no-select">
                    <h2 translate="cards.announcements.add_announcement.header"></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="hide_add()"><md-icon>close</md-icon></md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content md-padding">
                    <form name="add_announcement" ng-submit="add()" novalidate>
                        <md-input-container class="md-block">
                            <input type="text" name="announcement_title" ng-model="announcement_details.title" translate translate-attr-placeholder="forms.title" required />
                            <div ng-messages="add_announcement.announcement_title.$error" md-auto-hide="false" ng-show="add_announcement.announcement_title.$touched">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <textarea name="announcement_content" ng-model="announcement_details.content" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
                            <div ng-messages="add_announcement.announcement_content.$error" md-auto-hide="false" ng-show="add_announcement.announcement_content.$touched">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-button type="submit" style="display:none;" ng-disabled="add_announcement.$invalid"></md-button>
                    </form>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="hide_add()">Cancel</md-button>
                <md-button ng-disabled="add_announcement.$invalid" ng-click="add()" translate="buttons.add"></md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>