<api-user-card user="$root.currentUser.habbo"></api-user-card>
<div layout="row" layout-xs="column">
    <div layout="column" flex>
        <md-card class="no-select" flex flex-xs="100" ng-if="$root.currentUser.user_info.room_entries">
            <md-toolbar>
                <div class="md-toolbar-tools center">
                    <h2 translate="generic.headers.randomRooms"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="no-padding">
                <api-room-list data="$root.currentUser.user_info.room_entries"></api-room-list>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" flex>
        <api-user-list flex="33" flex-xs="100" identifier="friendsList" type="grid" header="{{'generic.headers.friends' | translate}}" limit="9" users="$root.currentUser.habbo.friends"></api-user-list>
    </div>
</div>