<div layout="row" layout-xs="column">
	<div layout="column" flex flex-xs="100">
		<user-card userinfo="$root.current_user.user_info"></user-card>
		<div layout="row" layout-xs="column">
			<div layout="column" flex ng-if="$root.current_user.user_info.room_entries.length > 0">
				<room-list header="'me.room_visits' | translate" type="roomEntries" data="$root.current_user.user_info.room_entries" ng-if="$root.current_user.user_info.room_entries.length > 0"></room-list>
			</div>
			<div layout="column" flex></div>
		</div>
	</div>
    <div layout="column" flex="30" flex-xs="100">
		<news-list header="'news.news' | translate" type="newsList" data="news_list" ng-if="news_list.length > 0"></news-list>
	</div>
</div>