<div layout="row" layout-xs="column">
	<div layout="column" flex="auto" flex-xs="100">
        <md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools center">
					<habbo-icon class="user space-right"></habbo-icon><h2 ng-bind="$root.current_user.user_info.username"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding hide-overflow">
                <div class="user-avatar" ui-sref="profile({username: $root.current_user.user_info.username})" style="padding-bottom:15px;">
					<img ng-src="{{$root.app_config.site_images.avatars}}{{current_user.user_info.look}}&amp;direction=3&amp;head_direction=3&amp;action=wave&amp;size=n&amp;gesture=std" />
				</div>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th translate="settings.user_created"></th>
							<td ng-bind="$root.current_user.user_info.account_created * 1000 | date:'MMM d, yyyy'"></td>
						</tr>
                        <tr>
							<th translate="settings.user_email"></th>
							<td ng-bind="$root.current_user.user_info.mail"></td>
						</tr>
						<tr>
							<th translate="settings.user_credits"></th>
							<td ng-bind="$root.current_user.user_info.credits"></td>
						</tr>
						<tr>
							<th translate="settings.user_duckets"></th>
							<td ng-bind="$root.current_user.user_info.duckets"></td>
						</tr>
						<tr>
							<th translate="settings.user_diamonds"></th>
							<td ng-bind="$root.current_user.user_info.diamonds"></td>
						</tr>
					</tbody>
				</table>
			</md-card-content>
		</md-card>
	</div>
    <div layout="column" flex="70" flex-xs="100">
        <md-card class="no-select">
			<md-card-content class="no-padding">
				<md-tabs class="no-select" md-dynamic-height md-border-bottom>
					<md-tab label="{{'settings.password' | translate}}">
						<md-content class="md-padding">
							<form name="password_form" ng-submit="update_password()" validate>
								<md-input-container md-no-float class="md-block" md-auto-hide="false">
									<input type="password" name="new_password" ng-model="password_details.new_password" translate translate-attr-placeholder="forms.new_password" required />
									<div ng-messages="password_form.new_password.$error" md-auto-hide="false" ng-show="password_form.new_password.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-input-container md-no-float class="md-block">
									<input type="password" name="new_cpassword" ng-model="password_details.new_cpassword" translate translate-attr-placeholder="forms.confirm_password" required />
									<div ng-messages="password_form.new_cpassword.$error" md-auto-hide="false" ng-show="password_form.new_cpassword.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-input-container md-no-float class="md-block">
									<input type="password" name="password" ng-model="password_details.password" translate translate-attr-placeholder="forms.current_password" required />
									<div ng-messages="password_form.password.$error" md-auto-hide="false" ng-show="password_form.password.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-button type="submit" class="md-raised md-primary" ng-disabled="(password_form.$invalid) || (password_details.new_password != password_details.new_cpassword)">Save</md-button>
							</form>
						</md-content>
					</md-tab>
					<md-tab label="{{'settings.email' | translate}}">
						<md-content class="md-padding">
							<form name="email_form" ng-submit="update_email()" validate>
								<md-input-container md-no-float class="md-block">
									<input type="email" name="new_email" ng-model="email_details.new_email" translate translate-attr-placeholder="forms.new_email" required check-email />
									<div ng-messages="email_form.new_email.$error" md-auto-hide="false" ng-show="email_form.new_email.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-input-container md-no-float class="md-block">
									<input type="email" name="new_cemail" ng-model="email_details.new_cemail" translate translate-attr-placeholder="forms.confirm_email" required />
									<div ng-messages="email_form.new_cemail.$error" md-auto-hide="false" ng-show="email_form.new_cemail.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-input-container md-no-float class="md-block">
									<input type="password" name="password" ng-model="email_details.password" translate translate-attr-placeholder="forms.password" required />
									<div ng-messages="email_form.password.$error" md-auto-hide="false" ng-show="email_form.password.$touched">
										<div ng-messages-include="views/messages.html"></div>
									</div>
								</md-input-container>
								<md-button type="submit" class="md-raised md-primary" ng-disabled="(email_form.$invalid) || (email_details.new_email != email_details.new_cemail)">Save</md-button>
							</form>
						</md-content>
					</md-tab>
					<md-tab label="{{'settings.client' | translate}}">
						<md-content class="md-padding">
							<div ng-if="$root.current_user.user_info.online == 1">You must be offline!</div>
							<form name="client_form" ng-submit="update_client()" ng-hide="$root.current_user.user_info.online == 1" novalidate>
								<md-list>
									<md-list-item>
										<p translate="settings.block_following"></p>
										<md-switch class="md-secondary" name="block_following" ng-model="$root.current_user.user_info.settings.block_following" ng-change="update_client()"></md-switch>
									</md-list-item>
									<md-list-item>
										<p translate="settings.block_friend_requests"></p>
										<md-switch class="md-secondary" name="block_friendrequests" ng-model="$root.current_user.user_info.settings.block_friendrequests" ng-change="update_client()"></md-switch>
									</md-list-item>
									<md-list-item>
										<p translate="settings.block_room_invites"></p>
										<md-switch class="md-secondary" name="block_roominvites" ng-model="$root.current_user.user_info.settings.block_roominvites" ng-change="update_client()"></md-switch>
									</md-list-item>
									<md-list-item>
										<p translate="settings.old_chat"></p>
										<md-switch class="md-secondary" name="old_chat" ng-model="$root.current_user.user_info.settings.old_chat" ng-change="update_client()"></md-switch>
									</md-list-item>
									<md-list-item>
										<p translate="settings.ignore_bots"></p>
										<md-switch class="md-secondary" name="ignore_bots" ng-model="$root.current_user.user_info.settings.ignore_bots" ng-change="update_client()"></md-switch>
									</md-list-item>
									<md-list-item>
										<p translate="settings.ignore_pets"></p>
										<md-switch class="md-secondary" name="ignore_pets" ng-model="$root.current_user.user_info.settings.ignore_pets" ng-change="update_client()"></md-switch>
									</md-list-item>
								</md-list>
							</form>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-card-content>
		</md-card>
    </div>
</div>