<div layout="row" layout-xs="column" class="content-login">
    <div layout="column" flex="40" flex-xs="100" flex-offset="60" flex-offset-xs="0">
        <md-card class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools center">
                    <h2 translate="generic.headers.login"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="center">
                <form name="loginForm" ng-submit="login()">
                    <md-input-container>
                        <label translate="generic.forms.username"></label>
                        <input id="username" type="text" name="username" ng-model="loginFormDetails.username" ng-change="loginForm.username.$setValidity('invalidLogin', true)" autofocus required />
                        <div ng-messages="loginForm.username.$dirty && loginForm.username.$error" md-auto-hide="false">
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate="generic.forms.password"></label>
                        <input id="password" type="password" name="password" ng-model="loginFormDetails.password" required />
                        <div ng-messages="loginForm.password.$dirty && loginForm.password.$error" md-auto-hide="false">
                            <div ng-messages-include="views/messages.html"></div>
                        </div>
                    </md-input-container>
                    <div layout="row" class="center">
                        <md-button type="submit" class="md-silver width-100" ng-disabled="loginForm.$invalid" translate="generic.buttons.login"></md-button>
                    </div>
                    <div layout="row" class="center">
                        <md-button class="md-silver width-100" ui-sref="register" translate="generic.buttons.register"></md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>