<div layout="row" layout-xs="column" class="content-register">
        <div layout="column" flex="50" flex-xs="100" flex-offset="50" flex-offset-xs="0">
            <md-card class="no-select">
                <md-toolbar>
                    <div class="md-toolbar-tools center">
                        <h2 translate="generic.headers.register"></h2>
                    </div>
                </md-toolbar>
                <md-card-content class="center">
                    <form name="registerForm" ng-submit="register()">
                        <md-input-container>
                            <label translate="generic.forms.username"></label>
                            <input id="username" type="text" name="username" ng-model="registerFormDetails.username" ng-change="registerForm.username.$setValidity('invalidUsernameAvailability', true)" validate-username autofocus required />
                            <div ng-messages="registerForm.username.$dirty && registerForm.username.$error" md-auto-hide="false">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label translate="generic.forms.email"></label>
                            <input id="email" type="text" name="email" ng-model="registerFormDetails.email" ng-change="registerForm.email.$setValidity('invalidEmailAvailability2', true)" validate-email required />
                            <div ng-messages="registerForm.email.$dirty && registerForm.email.$error" md-auto-hide="false">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label translate="generic.forms.password"></label>
                            <input id="password" type="password" name="password" ng-model="registerFormDetails.password" required />
                            <div ng-messages="registerForm.password.$dirty && registerForm.password.$error" md-auto-hide="false">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label translate="generic.forms.passwordConfirm"></label>
                            <input id="passwordConfirm" type="password" name="passwordConfirm" ng-model="registerFormDetails.passwordConfirm" required />
                            <div ng-messages="registerForm.passwordConfirm.$dirty && registerForm.passwordConfirm.$error" md-auto-hide="false">
                                <div ng-messages-include="views/messages.html"></div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-if="$root.appConfig.reCAPTCHASettings.captchaEnabled">
                            <div vc-recaptcha key="$root.appConfig.reCAPTCHASettings.siteKey" on-create="onCaptchaCreate(widgetId)" ng-model="registerFormDetails.reCAPTCHA"></div>
                        </md-input-container>
                        <div layout="row" class="center">
                            <md-button type="submit" class="md-silver width-100" ng-disabled="(registerForm.$invalid) || (registerFormDetails.password != registerFormDetails.passwordConfirm)" translate="generic.buttons.register"></md-button>
                        </div>
                        <div layout="row" class="center">
                            <md-button class="md-silver width-100" ui-sref="login" translate="generic.buttons.login"></md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>