<div layout="row" layout-xs="column" ng-if="statistics_info">
    <md-card class="statistic-card no-select" flex flex-xs="100" ng-if="statistics_info.total_users">
        <span class="statistic-name" translate="statistics.total_users"></span>
        <span class="statistic-value" ng-bind="statistics_info.total_users"></span>
    </md-card>
    <md-card class="statistic-card no-select" flex flex-xs="100" ng-if="statistics_info.total_rooms">
        <span class="statistic-name" translate="statistics.total_rooms"></span>
        <span class="statistic-value" ng-bind="statistics_info.total_rooms"></span>
    </md-card>
    <md-card class="statistic-card no-select" flex flex-xs="100" ng-if="statistics_info.total_groups">
        <span class="statistic-name" translate="statistics.total_groups"></span>
        <span class="statistic-value" ng-bind="statistics_info.total_groups"></span>
    </md-card>
    <md-card class="statistic-card no-select" flex flex-xs="100" ng-if="statistics_info.total_items">
        <span class="statistic-name" translate="statistics.total_furniture"></span>
        <span class="statistic-value" ng-bind="statistics_info.total_items"></span>
    </md-card>
</div>
<div layout="row" layout-xs="column">
    <div layout="column" flex flex-xs="100">
        <md-card class="no-select" ng-if="statistics_info.latest_user">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <habbo-icon class="user space-right"></habbo-icon><h2 translate="statistics.latest_user"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="no-padding no-margin">
                <user-card userinfo="statistics_info.latest_user"></user-card>
            </md-card-content>
        </md-card>
        <room-list header="'community.active_rooms' | translate" type="activeRooms" data="community_info.active_rooms" ng-if="community_info.active_rooms.length > 0"></room-list>
    </div>
    <div layout="column" flex="30" flex-xs="100" ng-if="statistics_info.latest_room">
        <room-card header="'statistics.latest_room' | translate" data="statistics_info.latest_room"></room-card>
    </div>
</div>
<div layout="row" layout-xs="column" ng-if="community_info.random_users.length > 0 || community_info.random_rooms.length > 0 || community_info.active_groups.length > 0">
    <div layout="column" flex ng-if="community_info.random_users.length > 0">
        <md-card class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools center">
                    <habbo-icon class="users space-right"></habbo-icon><h2 ng-bind="'community.random_users' | translate"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="no-padding">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="user in community_info.random_users" ui-sref="profile({username: user.username})">
                        <img class="pixel-image" ng-src="{{$root.app_config.site_images.avatars}}{{user.look}}&amp;action=std&amp;gesture=sml&amp;direction=2&amp;head_direction=2&amp;size=n&amp;headonly=1&amp;img_format=png" />
                        <div class="md-list-item-text">
                            <span class="user-name" ng-bind="user.username" style="padding-right:3px;"></span><habbo-icon ng-class="{'online-icon': user.online == 1, 'offline-icon': user.online == 0}"></habbo-icon><br />
                            <span class="user-motto" ng-if="user.motto"><habbo-icon class="motto-icon"></habbo-icon>{{user.motto}}<br /></span>
                            <span class="last-login" ng-if="user.last_online"><habbo-icon class="clock-icon"></habbo-icon>{{user.last_online * 1000 | date:'MMM d, yyyy h:mm a'}}</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" flex ng-if="community_info.random_rooms.length > 0">
        <md-card class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools center">
                    <habbo-icon class="active-room space-right"></habbo-icon><h2 ng-bind="'community.random_rooms' | translate"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="no-padding">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="room in community_info.random_rooms" ui-sref="room({id: room.id})">
                        <habbo-room-icon class="room-icon no-select"><div class="room-icon"></div></habbo-room-icon>
                        <div class="md-list-item-text">
                            <span class="room-name" ng-bind="room.name"></span><br />
                            <span class="room-description" ng-if="room.description"><habbo-icon class="motto-icon"></habbo-icon>{{room.description}}</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" flex ng-if="community_info.random_groups.length > 0">
        <md-card class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools center">
                    <habbo-icon class="groups space-right"></habbo-icon><h2 ng-bind="'community.random_groups' | translate"></h2>
                </div>
            </md-toolbar>
            <md-card-content class="no-padding">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="group in community_info.random_groups" ui-sref="group({id: group.id})">
                        <img class="pixel-image group-badge" ng-src="{{$root.app_config.site_images.group_badges}}/{{group.badge}}.png" />
                        <div class="md-list-item-text" style="padding-left:15px;">
                            <span class="group-name" ng-bind="group.name"></span><br />
                            <span class="group-description" ng-if="group.description"><habbo-icon class="motto-icon"></habbo-icon>{{group.description}}<br /></span>
                            <span class="group-created" ng-if="group.date_created"><habbo-icon class="clock-icon"></habbo-icon>{{'group.group_created' | translate}}: {{group.date_created * 1000 | date:'MMM d, yyyy'}}</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>