<div layout="row" layout-xs="column">
	<div layout="column" flex="70" flex-xs="100">
		<md-card class="no-select">
			<md-card-title class="centered-title">
				<md-card-title-text>
					<span class="md-headline" ng-bind="group_info.name"></span>
					<span class="md-subhead description no-padding" ng-if="group_info.description" ng-bind="group_info.description"></span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
		<md-card class="no-select">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<habbo-icon class="star-gold space-right"></habbo-icon><h2 translate="group.group_owner"></h2>
				</div>
			</md-toolbar>
			<md-card-content class="no-padding no-margin">
				<user-card userinfo="group_info.owner"></user-card>
			</md-card-content>
		</md-card>
		<group-members data="group_info.members"></group-members>
	</div>
	<div layout="column" flex="30" flex-xs="100">
		<group-card header="'group.group_details' | translate" data="group_info"></group-card>
		<room-card header="'group.group_room' | translate" data="group_info.room"></room-card>
	</div>
</div>