<div layout="row" layout-xs="column">
    <api-user-list flex flex-xs="100" identifier="mostCreditsList" type="list" header="{{'generic.headers.mostCredits' | translate}}" users="leaderboardsInfo.mostCredits"></api-user-list>
    <api-user-list flex flex-xs="100" identifier="mostOnlineList" type="list" header="{{'generic.headers.mostOnline' | translate}}" users="leaderboardsInfo.mostOnline"></api-user-list>
    <api-user-list flex flex-xs="100" identifier="mostRespectedList" type="list" header="{{'generic.headers.mostRespected' | translate}}" users="leaderboardsInfo.mostRespected"></api-user-list>
</div>