<md-card class="no-select" flex ng-if="$ctrl.grouplist.length > 0">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <habbo-icon class="groups space-right"></habbo-icon><h2>{{$ctrl.header}} <span class="number" ng-if="$ctrl.grouplist.length > 0" ng-bind="$ctrl.grouplist.length"></span></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-if="$ctrl.grouplist.length > 0" ng-click="show_all()"><md-icon>view_list</md-icon></md-button>
        </div>
    </md-toolbar>
    <md-card-content class="no-padding">
        <md-list class="group-list" flex>
            <md-list-item class="md-2-line" ng-repeat="group in $ctrl.grouplist" ui-sref="group({id: group.id})">
                <div class="badge-icon" style="padding:7px 0;">
                    <div class="badge-icon-aligner">
                        <img ng-src="{{$root.app_config.site_images.group_badges}}/{{group.badge}}.png" />
                    </div>
                </div>
                <div class="md-list-item-text" style="padding-left:15px;">
                    <span class="group-name" ng-bind="group.name"></span><br />
                    <span class="group-description" ng-if="group.description"><habbo-icon class="motto-icon"></habbo-icon>{{group.description}}</span><br />
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
<div style="visibility:hidden;">
    <div class="md-dialog-container" id="grouplist-dialog">
        <md-dialog class="no-select">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <habbo-icon class="groups space-right"></habbo-icon><h2>{{$ctrl.header}} <span class="number" ng-if="$ctrl.grouplist.length > 0" ng-bind="$ctrl.grouplist.length"></span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-list class="group-list" flex>
                        <md-list-item class="md-2-line" ng-repeat="group in $ctrl.grouplist" ui-sref="group({id: group.id})">
                            <div class="badge-icon" style="padding:7px 0;">
                                <div class="badge-icon-aligner">
                                    <img ng-src="{{$root.app_config.site_images.group_badges}}/{{group.badge}}.png" />
                                </div>
                            </div>
                            <div class="md-list-item-text" style="padding-left:15px;">
                                <span class="group-name" ng-bind="group.name"></span><br />
                                <span class="group-description" ng-if="group.description"><habbo-icon class="motto-icon"></habbo-icon>{{group.description}}</span><br />
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>